p {
  font-size: 26px;
}

p {
  text-transform: uppercase;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
}
header ul li {
  color: #ffffff;
}

nav {
  background-color: orange;
}
