header {
    ul {
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
        li {
            color: #ffffff;
        }
    }
}
nav {
    background-color: orange;
}
#topNav {
    .top-nav-inner {

    }
    .secondary-nav-ul {
        
    }
    
}
#primaryNav {
    .primary-nav-inner {

    }
    nav {
        .primary-nav-ul {
            
        }
        
    }
    
}